<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="createNew" method="post">
        <Label>First Name: </Label><input type="text" th:field="*{owner.firstName}">
        <ul>
            <li th:each="err : ${#fields.hasErrors('owner.firstName')}" th:text="${err}"/>
        </ul>
        <label>Last Name: </label><input type="text" th:field="*{owner.lastName}">
        <ul>
            <li th:each="err : ${#fields.hasErrors('owner.lastName')}" th:text="${err}"/>
        </ul>
        <input type="submit">Submit</input>
    </form>
</body>
</html>